{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load allauth %}

{% block title %}
{% trans "Confirm Email Address" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 p-5 border">
        <h2 class="text-center mb-3">
            {% trans "Confirm Email Address" %}
        </h2>

        {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
        <p>
            {% blocktrans with confirmation.email_address.email as email %}
            メールアドレスが <a href="mailto:{{ email }}">{{ email }}</a> のユーザーである場合は、<br>
            「確認する」ボタンをクリックしてください。
            {% endblocktrans %}
        </p>
        {% url 'account_confirm_email' confirmation.key as action_url %}
        {% element form method="post" action=action_url %}
        {% slot actions %}
        {% csrf_token %}
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
        </div>
        {% endslot %}
        {% endelement %}
        {% else %}
        <p>
            {% blocktrans %}
            {{ email }} のメールアドレスは、<br>
            既にアカウントによって使用されているためご利用できません。
            {% endblocktrans %}
        </p>
        {% endif %}
        {% else %}
        {% url 'account_email' as email_url %}
        <p>
            {% blocktrans %}
            確認用トークンの有効期限が既に切れています。<br>
            再度認証用メールアドレスを<a href="{{ email_url }}"> リクエスト</a>
            してください。
            {% endblocktrans %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
