{% extends "base.html" %}

{% load i18n allauth account %}
{% load widget_tweaks %}

{% block title %}
{% trans "Password Reset" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 p-5 border">
        <h2 class="text-center mb-3">
            {% trans "Password Reset" %}
        </h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            パスワードをお忘れですか?<br>
            以下のフォームにメールアドレスを入力してください。<br>
            リセット用のメールが送信されます。<br>
        </p>

        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url %}
        {% slot body %}
        {% csrf_token %}
        {% include 'account/snippets/form_error_messages.html' %}
        <div class="mb-3">
            <label for="id_email">{{ form.email.label }}:</label>
            {% render_field form.email class="form-control" placeholder="" %}
        </div>
        {% endslot %}
        {% slot actions %}
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-primary">{% trans 'Reset My Password' %}</button>
        </div>
        {% endslot %}
        {% endelement %}
        <p>パスワードのリセットでお困りの場合は、
            <a href="">お問い合わせ </a>ください。
        </p>
    </div>
</div>
{% endblock content %}
