{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% load widget_tweaks %}

{% block title %}
{% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 p-5 border">
        <h2 class="text-center mb-3">
            {% if token_fail %}
            {% trans "Bad Token" %}
            {% else %}
            {% trans "Change Password" %}
            {% endif %}
        </h2>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            パスワードリセットのリンクが無効です。<br>
            既に使用されている可能性があります。<br>
            新しいパスワードのリセットを<a href="{{ passwd_reset_url }}"> リクエスト </a>してください。<br>
        </p>
        {% else %}
        {% element form method="post" action=action_url %}
        {% slot body %}
        {% csrf_token %}
        {% include 'account/snippets/form_error_messages.html' %}
        <div class="mb-3">
            <label for="id_password1">{{ form.password1.label }}:</label>
            {% render_field form.password1 class="form-control" placeholder="" %}
        </div>
        <div class="mb-3">
            <label for="id_password2">{{ form.password2.label }}:</label>
            {% render_field form.password2 class="form-control" placeholder="" %}
        </div>
        {% endslot %}
        {% slot actions %}
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-primary">{% trans 'Change Password' %}</button>
        </div>
        {% endslot %}
        {% endelement %}
        {% endif %}
    </div>
</div>
{% endblock content %}
