{% extends "base.html" %}

{% load allauth i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 p-5 border">
        <h2 class="text-center mb-3">
            {% trans "Change Password" %}
        </h2>

        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
        {% slot body %}
        {% csrf_token %}
        {% include 'account/snippets/form_error_messages.html' %}
        <div class="mb-3">
            <label for="id_oldpassword">{{ form.oldpassword.label }}:</label>
            {% render_field form.oldpassword class="form-control" placeholder="" %}
        </div>
        <div class="mb-3">
            <label for="id_password1">{{ form.password1.label }}:</label>
            {% render_field form.password1 class="form-control" placeholder="" %}
            <span>{{ form.password1.help_text }}</span>
        </div>
        <div class="mb-3">
            <label for="id_password2">{{ form.password2.label }}:</label>
            {% render_field form.password2 class="form-control" placeholder="" %}
        </div>
        {% endslot %}
        {% slot actions %}
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
        {% endelement %}
    </div>
</div>
{% endblock content %}
