{% extends "base.html" %}

{% load allauth i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans "Signup" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 p-5 border">
        <h2 class="text-center mb-3">
            {% trans "Sign Up" %}
        </h2>

        <p>既にアカウントを作成している場合、
            <a href="{{ login_url }}">ログイン</a>
            してください。
        </p>


        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
        {% csrf_token %}
        {% include 'account/snippets/form_error_messages.html' %}
        <div class="mb-3">
            <label for="id_email">{{ form.email.label }}:</label>
            {% render_field form.email class="form-control" placeholder="" %}
        </div>
        <div class="mb-3">
            <label for="id_password1">{{ form.password1.label }}:</label>
            {% render_field form.password1 class="form-control" placeholder="" %}
            <span>{{ form.password1.help_text }}</span>
        </div>
        <div class="mb-3">
            <label for="id_password2">{{ form.password2.label }}:</label>
            {% render_field form.password2 class="form-control" placeholder="" %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% endslot %}
        {% slot actions %}
        <div class="text-end mb-3">
            <button type="submit" tags="prominent,signup" class="btn btn-primary">{% trans "Sign Up" %}</button>
        </div>
        {% endslot %}
        {% endelement %}
    </div>
</div>
{% endblock content %}
